{%  extends "::layout.html.twig" %}
{%  block titre %} Accueil{{  parent() }}{%  endblock %}

{%  block contentTop %}
<div class="box">
    <div class="border-right">
        <div class="border-left">
            <div class="inner">
    <h3>Bienvenu sur <b>Camer</b><span>Vision</span></h3>
    <p>
        {%  if accueil is defined  %}
            {{  accueil.description }}
            {% else %}
            Aucun contenu!!
                {%  endif %}
    </p>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}
{%  block content %}
    <h3><span>Nos derniers films & Documentaires</span></h3>
   {%  if accueil is defined  %}
    <ul class="movies">
        <li>
            <h4>{{  accueil.film1Titre }}</h4>
            <iframe width="212" height="170" src="//www.youtube.com/embed/{{  accueil.film1Lien }}" frameborder="0"></iframe>
            <p>{{  accueil.film1Description }}</p>
            <div class="wrapper"><a href="{{ path('cmv_site_lire',{'code':accueil.film1LienArticle.code}) }}" class="link2"><span><span>Lire la suite</span></span></a></div>
        </li>
        <li>
            <h4>{{  accueil.film2Titre }}</h4>
            <iframe width="212" height="170" src="//www.youtube.com/embed/{{  accueil.film2Lien }}" frameborder="0"></iframe>

            <p>{{  accueil.film2Description }}</p>
            <div class="wrapper"><a href="{{ path('cmv_site_lire',{'code':accueil.film2LienArticle.code}) }}" class="link2"><span><span>Lire la suite</span></span></a></div>
        </li>
        <li class="last">
            <h4>{{  accueil.film3Titre }}</h4>
            <iframe width="212" height="170" src="//www.youtube.com/embed/{{  accueil.film3Lien }}" frameborder="0"></iframe>
            <p>{{  accueil.film3Description }}</p>
            <div class="wrapper"><a href="{{ path('cmv_site_lire',{'code':accueil.film3LienArticle.code}) }}" class="link2"><span><span>Lire la suite</span></span></a></div>
        </li>

        <li class="clear">&nbsp;</li>
    </ul>
       {%  else %}
           Aucun film ajoute!!
           {% endif %}

{%  endblock %}