{%  extends "::layout.html.twig" %}
{%  block titre %}
    {% if cat is defined %}
        cat.nom
        {% else %}
        Mes articles
            {% endif %}

        {{  parent() }}{%  endblock %}
{%  block slogan %}

    <div class="box">
        <div class="border-right">
            <div class="border-left">
                <div class="inner">
                    <h3>{{  mot1 }}/<span>{{  mot2 }}</span></h3>
                    <p>
                        {{  description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{%  block content %}



    {% if articles is defined %}
        <h3>{{ mot1 }} & <span>{{  mot2 }}</span></h3>
        <ul class="list">
      {%  for article in articles %}
          <li>
              <img src="{{  asset('images/3page-img1.jpg') }}" alt=""/>
              <a href="{{ path('cmv_site_lire') }}">{{  article.titre }}</a>
              <br/>
              {{  article.description }}
              <br />
              <center><span class="center-block"> <i><a href="#">Lire la suite . . .</a></i>&nbsp;</span></center>
          </li>
          {% endfor %}
        </ul>
    {% else %}
       <h3> Mes articles</h3>
    {% endif %}

{% endblock %}