{%  extends "::layout.html.twig" %}
{%  block titre %}
    {% if mot1 is defined %}
       {{ mot1 }} {{ mot2 }}
        {% else %}
        Mes articles
            {% endif %}

        {{  parent() }}{%  endblock %}
{%  block slogan %}

    <div class="box">
        <div class="border-right">
            <div class="border-left">
                <div class="inner">
                    <h3>{{  mot1 }}/<span>{{  mot2 }}</span></h3>
                    <p>
                        {{  description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{%  block content %}

    {% if articles is defined %}
        <h3>{{ mot1 }} & <span>{{  mot2 }}</span></h3>
        <ul class="list">
      {%  for article in articles %}
          <li>
              {% if article.codeYoutube is not null %}
              <iframe width="212" height="170" src="//www.youtube.com/embed/{{ article.codeYoutube}}" frameborder="0"
                      style="float:left;margin-right:2em;"></iframe>
              {% else %}
                  {%  if article.image is not null %}
                      {% for image in article.image %}
                          {% if loop.last %}
                              <img src="{% path image.image, 'reference' %}" width="212" height="170"/>
                              {% endif %} <!-- endif loop.last -->
                          {% endfor %}
                      {% else %}

                      {% endif %}
              {% endif %}
              <div style="margin-top:1em;">
              <a href="{{ path('cmv_site_lire',{'code':article.code}) }}">{{  article.titre }}</a>
              <br/>
              {{  article.description }}
              <br />
              <center><span style="float:left;color:white;" >Le {{  article.dateSave|date('d.m.Y') }}</span>
                  <span class="center-block"> <i><a href="{{ path('cmv_site_lire',{'code':article.code}) }}">Lire la suite . . .</a></i>&nbsp;</span>
              </center>
                  </div>
          </li>

          {% endfor %}
        </ul>
    {% else %}
       <h3> Mes articles</h3>
    {% endif %}

{% endblock %}