{%  extends "::layout.html.twig" %}
{%  block titre %}
    {% if cat is defined %}
        cat.nom
    {% else %}
        Contactez-nous
    {% endif %}

    {{  parent() }}{%  endblock %}
{%  block slogan %}

    <div class="box">
        <div class="border-right">
            <div class="border-left">
                <div class="inner">
                    <h3>{{  mot1 }} <span>{{  mot2 }}</span></h3>
                    <p>
                    <div class="address">
                        <div class="fleft">
                            <span>Pays:</span>Cameroun<br />
                            <span>Telephone:</span>(+237) 75 82 60 66<br />
                            <span>Email:</span> francis.meli [arobase] yahoo.fr
                            </div>
                        <div class="extra-wrap"><span>Informations:</span><br />
                            {{  description }}
                    </div>

                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{%  block content %}

    {%  for message_flash in  app.session.flashbag.get('contact_ok')  %}
    <div class="center-block">
        <img src="{{ asset('ok-icon.png') }}" height="20" width="20" /> Votre message a ete bien envoye! Merci
    </div>
        {% endfor %}
    {{  form_errors(form) }}
    <h3>Formulaire <span>Contact</span></h3>
    <form id="contacts-form" action="" method="POST">
        <fieldset>
            <div class="field"><label>Nom & Prenom:</label>{{  form_widget(form.nom) }}</div>
            <div class="field"><label>Adresse Email:</label>{{  form_widget(form.email) }}</div>
            <div class="field"><label>Telephone:</label>{{  form_widget(form.telephone) }}</div>
            <div class="field"><label>Site web:</label>{{  form_widget(form.siteweb) }}</div>
            <div class="field"><label>Votre Message:</label>{{  form_widget(form.message) }}</div>
            <div class="wrapper">
                {{ form_widget(form.save) }}
            </div>
            {{  form_rest(form) }}
        </fieldset>
    </form>
{%  endblock %}
{%  block sub_javascript %}

{% endblock %}